<h1>Login</h1>
<form action="http://localhost:3000/api/users" method="post" id="formularioLogin" enctype='multipart/form-data'>
    <input type="text" placeholder="correo" name="correo">
    <input type="password" placeholder="contraseña" name="contrasena">
    <button type="submit">Enviar</button>
</form>

<a href="/registro">registrarse</a>

<script type="application/javascript" src="http://localhost:3000/javascripts/login.js"></script>