<h1>Login</h1>
<form action="/api/users" method="post" id="formularioLogin" enctype='multipart/form-data'>
    <input type="text" placeholder="correo" name="correo">
    <input type="password" placeholder="contraseña" name="contrasena">
    <button type="submit">Enviar</button>
</form>

<a href="/registro">registrarse</a>

<script type="application/javascript" src="/javascripts/login.js"></script>