<h2>proyectos creados</h2>
<ul id="listin">
    <li><button type="button">una wea</button></li>
    <li><button type="button">otra wea</button></li>
</ul>


<script type="application/javascript" src="http://localhost:3000/javascripts/proyectos.js"></script>