<h2>proyectos creados</h2>
<ul id="listin">
    <li><button type="button">una wea</button></li>
    <li><button type="button">otra wea</button></li>
</ul>
<br>
<h2>Crear Proyecto</h2>
<form id="crearposti" action="/api/proyectos/create" method="post">
<input name="nombre" placeholder="nombre proyecto">
    <button type="submit">enviar</button>
</form>

<script type="application/javascript" src="/javascripts/proyectos.js"></script>