<h2 id="nombreProyecto">nombre del proyecto</h2>
<h5 id="myRol">tu rol</h5>
<br>
<h3>Miembros</h3>
<ul id="listin">
    <li>un men</li>
    <li>una women</li>
    <li>otro men</li>
</ul>

<!--AGREGAR MIEMBROS, PUEDE IR EN OTRO HTML-->
<h2>Agregar miembro</h2>
<form action="/api/miembros/create" method="post" id="formitoCrear">
    <input type="text" name="correin" placeholder="correo del miembro">
    <input type="text" name="rolin" placeholder="rol del miembro">
    <button type="submit">Enviar</button>
</form>


<script type="application/javascript" src="/javascripts/proyectoView.js"></script>